@media print {
  margin: 0;
  color: #000;
  background-color: #fff;
}

.form-check{
  width: 200px;
  margin-left: 50px;
  padding: 5px;
}

.form-check-label{
  font-family: 'Bree Serif', serif;
  font-size: 17px;
}

#container{
  width: 100%;
  /* background-color: #ffcc33; */
  margin: auto;
  display: block;
  margin-top: 80px;
  height: 505px;
  background-color: #e6e6e62e;
}

#search{
  width: 30%;
}


input[type="checkbox"]{
  outline: 1px solid #90969c;
}

#header{
  font-family: 'Bree Serif', serif;
  display: block;
  text-align: center;
  height: 20px;
  padding: 30px;
}

#form-div{
  width: 30%;
  height: 500px;
  float: left;
}

#map{
  width: 65%;
  height: 500px;
  float: right;
  border-width: 2px;
  border-color: #90969c;
}

#p-text{
  margin-top: 25px;
  margin-left: 35px;
  font-family: 'Bree Serif', serif;
  font-size: 35px;
}

#new-search{
  padding: 15px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 30px;
}

.marker {
  background-image: url('../images/parkingLocation.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 5%;
  cursor: pointer;
}

.drinking-marker {
  background-image: url('../images/drinkingImage.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 5%;
  cursor: pointer;
}

.crash-marker {
  background-image: url('../images/bike_accident.jpg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 5%;
  cursor: pointer;
}


#aboutus_container{
  width: 100%;
  margin: auto;
  display: block;
  height: 920px;
  background-color: #e6e6e685;
}

#aboutus_image{
  width: 100%;
  align-items: center;
  height: 450px;
  display: block;
  border: #90969c;
  border-radius: 10px;
  float: left;
}

#image_cycling{
  height: 500px;
  align-items: center;
  width: 100%;
  border-radius:25px;
}

#aboutus_text{
  font-family: 'Bree Serif', serif;
    display: block;
    float: left;
    clear: left;
    height: 400px;
    margin-top: 75px;
    margin-left: 10px;
    margin-right: auto;
    font-size: 17px;
    text-justify: inter-word;
}

#print_function{
  margin: auto;
  display: block;
  margin-top: 50px;
  margin-left: 30px;
}

#print-text{
  padding: 6px;
  margin-top: -12px;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
}

.col-md-4{
  transition: transform .2s;
  cursor: pointer;
}

.col-md-4:hover {
  transform: scale(1.125); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  font: 14px/22px 'Bree Serif', serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
  }
   
  .legend h4 {
  margin: 0 0 10px;
  }
   
  .legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
  }