.masthead .intro-body {
  background: url(../static/1024869961.jpg),linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) no-repeat;
  background-size: cover;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro-body {
    padding: 20px;
  }
}

#dep-text{
  margin-top: 12px;
}

#new-search{
  position: absolute;
  margin-left: 15px;
}

.form-check{
  margin-left: -130px;
  float: left;
  margin-top: 40px;
}

#map { 
  position:absolute; top:0; bottom:0; width:100%; 
}
.input-group-prepend{
  width: 354px;
  margin-left: -130px;

}


.marker {
  background-image: url('/static/parkingLocation.jpg');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 35%;
  cursor: pointer;
}

.intro-body {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.75);
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro-body {
    padding: 20px;
  }
}

/* #geocoder {
  position:absolute;
  z-index:1;
  width:50%;
  left:50%;
  margin-left:-25%;
  top:20px;
  } */

.mapboxgl-ctrl-geocoder { 
  min-width:100%; 
}

.masthead .intro-body .intro-text {
  font-family: Arial Helwwrica sans-serif;
}

intro-text {
  text-align: center;
  padding: 60px 0;
}

.masthead .intro-body .intro-text {
  font-size: x-large;
}

