<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif">
    <link rel="stylesheet" href="../static/css/back-to-top-button.css">
    <link rel="stylesheet" href="../static/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="../static/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="../static/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="../static/css/Dark-NavBar.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="../static/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/css/Simple-Slider.css">
     
    <script language="javascript">
        function preview(oper){
        if (oper < 10){
            bdhtml=window.document.body.innerHTML;//获取当前页的html代码
            sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域
            eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域
            prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html
            prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
            window.document.body.innerHTML=prnhtml;
            window.print();
            window.document.body.innerHTML=bdhtml;
        } 
            else {
            window.print();
            }
        }
    </script>
    
</head>

<body>
    <div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height: 80px;background-color: rgba(56,111,135,0.53);color: #ffffff;font-family: 'Bree Serif', serif;">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="font-size: 25px;"><i class="fa fa-globe"></i>&nbsp;MoveMelb</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation" href="index.html" style="font-size: 18px;"><a class="nav-link" style="color:#ffffff;" href="index.html"><i class="fa fa-home"></i> Home</a></li>
                        <li class="nav-item" role="presentation" style="font-size: 18px;"><a class="nav-link" style="color:#ffffff;" href="#MMap"><i class="far fa-map"></i> Cycling Map</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;font-size: 18px;" href="../templates/Rules.html"><i class="fa fa-book"></i>&nbsp;Rules</a></li>
                        <li class="nav-item" role="presentation" style="font-size: 18px;"><a class="nav-link" style="color:#ffffff;" href="../templates/Contact.html"><i class="fa fa-phone-square"></i>&nbsp;Contact</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;font-size:18px" href="../templates/About.html"><i class="fa fa-user"></i> About us</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro" style="height: 602px;background-image: url(&quot;../static/images/Routes3.jpg&quot;);background-position: center;background-size: cover;">
            <p class="text-center" style="width: 350px;font-size: 24px;font-family: 'Bree Serif', serif;margin: 10px 25px 30px;">&nbsp; Planning to take a bike to City?<br></p>
            <p class="text-center" style="width: 350px;font-family: 'Bree Serif', serif;margin: 10px 25px 30px;">Finding safety routes to City?<br></p>
            <p class="text-center" style="width: 350px;font-family: 'Bree Serif', serif;margin: 10px 25px 30px;">Finding a parking rail?<br></p>
            <p class="text-break text-center" style="width: 350px;font-size: 24px;font-family: 'Bree Serif', serif;color: rgb(255,255,255);margin: 10px 25px 30px;">Let us help you .<br></p>
        </section>
        <section class="portfolio-block skills" style="background-color: #e6e6e6;">
            <div class="container" style="font-family: 'Bree Serif', serif;">
                <div class="heading">
                    <h2 style="font-family: 'Bree Serif', serif;">WhaT we offer?</h2>
                </div>
                <div class="row"><div class="col-md-4">
    <div class="card special-skill-item border-0">
        <div class="card-header bg-transparent border-0"><img src="../static/images/icons8-bicycle-80.png" /></div>
        <div class="card-body" style="height: 150px;">
            <h3 class="card-title">Cycling Map</h3>
            <p class="card-text">We will provide the Cycling route for the Cyclist and Bicycle Lock Rail.</p>
        </div>
    </div>
</div><div class="col-md-4">
    <div class="card special-skill-item border-0">
        <div class="card-header bg-transparent border-0"><img src="../static/images/icons8-book-80.png" /></div>
        <div class="card-body" style="height: 150px;">
            <h3 class="card-title">Education Rules</h3>
            <p class="card-text">We will provide the some animations of the bicycle rules.<br /></p>
        </div>
    </div>
</div><div class="col-md-4">
    <div class="card special-skill-item border-0">
        <div class="card-header bg-transparent border-0"><img src="../static/images/icons8-save-80.png" /></div>
        <div class="card-body" style="height: 150px;">
            <h3 class="card-title">Save your plan</h3>
            <p class="card-text">After you finish the plan,  save your cyling plan for your future and print it or keep it on your phone.</p>
        </div>
    </div>
</div></div>
            </div>
        </section>
    </main>
    <section>
        <section class="clean-block clean-info dark" style="font-family: 'Bree Serif', serif;">
            <div class="container" style="font-family: 'Bree Serif', serif;">
                <div class="block-heading" style="font-family: 'Bree Serif', serif;width: 986px;margin-left: 20px;"><p style="color: rgb(255,208,40);font-size: 47px;" id="MMap">Cycling Map</p></div>
                <div class="row text-left align-items-start">
                    <div class="col-md-6" style="width: 500px;">
                        <p style="color: rgb(0,0,0);margin-bottom: 15px;margin-left: 0;width: 339px;">Input the place in the city of Melbourne</p>
                        <h3><input type="search" style="width: 300px;/*background-color: rgb(255,208,40);*/opacity: 0.84;filter: blur(0px) brightness(101%) contrast(107%);margin-left: 20px;"><button class="btn btn-primary" type="button" style="margin-left: 50px;">Check</button></h3>
                        <div
                            class="form-check" style="width: 350px;margin-left: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Bicycle Lanes<br></label></div>
                    <div class="form-check" style="width: 350px;margin-left: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Bicycle Rails<br></label></div>
                    <div class="form-check" style="width: 350px;margin-left: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Crash Hotpots<br></label></div>
                    <div class="form-check" style="width: 350px;margin-left: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Public Drinking Pots<br></label></div>
                    <div class="getting-started-info"></div>
                </div>
                <!--startprint1-->
                
                <div class="col-md-6" style="width: 350px;">
                    <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe>
                </div>
                <!--endprint1-->
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p style="font-size: 19px;margin-left: 50px;">Print your plan?<br></p>
                        </div>
                        <div class="col"><input type=button name='button_export' value='print'  onclick=preview(1) >
                        </div>
                        <div class="col">
                            <p></p>
                        </div>
                        <div class="col">
                            <p></p>
                            <p></p>
                        </div>
                        <div class="col">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </section>
    <footer class="page-footer">
        <div class="container" style="font-family: 'Bree Serif', serif;">
            <div class="links"><a href="About.html">About us</a><a href="Contact.html">Contact us</a></div>
        </div><span class="fa fa-angle-up ir-arriba"> </span></footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/back-to-top-button.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="../static/js/printThis.js"></script>
    <script src="../static/js/Simple-Slider.js"></script>
    <script src="../static/js/theme.js"></script>
</body>

</html>